<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="500" subStatusCode="12" path="/sys/500.asp" responseMode="ExecuteURL" />
            <error statusCode="500" subStatusCode="13" path="/sys/500.asp" responseMode="ExecuteURL" />
            <error statusCode="500" subStatusCode="100" path="/sys/500.asp" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="http://prepare.career.co.kr" responseMode="Redirect" />
            <error statusCode="403" subStatusCode="6" path="http://prepare.career.co.kr" responseMode="Redirect" />
            <error statusCode="403" subStatusCode="503" path="http://prepare.career.co.kr" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
