<script>
	$(document).ready(function () {
		$(this).include(true, [
			['실시간검색', {
				target: '.fnAppendAutoSearchTemplate',
				url: '/tmatchingbank.career.co.kr/html/template/auto_search_template.html',
				get: true
			}]
		]);
		$('.fnInnerScrollSearchCatjcResult').cmmInnerScroll();
	});
</script>
<div class="scToolArea">
	<div class="cmmFormToolTipWrap tp2">
		<div class="cmmFormToolTipInner">
			<div class="cmmFormToolTipCont">

				<div class="jcjtSearchDivision">
					<div class="jcjtSearchTop paddingright">
						<div class="jtit">직무.키워드<small class="sm">(직무 최대3개 / 키워드 직무별 최대 5개 선택 가능)</small></div>
						<div class="appAutoSearchTarget INLINE_BLOCK VMIDDLE fnAppendAutoSearchTemplate">
							<!-- 실시간검색 불러오기 /html/common/template/auto_search_template.html -->
						</div>
					</div>
					<div class="jcjtSearchCont">
						<div class="crow collaps">
							<div class="ccol25 fnInnerScrollSearchColsResult">
								<div class="cmmInput radiochk sm MB10">
									<a href="#;" class="vChkLabel FWB on">서비스업</a>
								</div>
								<div class="cmmInput radiochk sm MB10">
									<a href="#;" class="vChkLabel FWB">유통.무역.물류업</a>
								</div>
							</div>
							<div class="ccol25 fnInnerScrollSearchColsResult">
								<div class="cmmInput radiochk sm MB10">
									<label>
										<input type="checkbox">
										<span class="lb">유통.백화점.도소매</span>
									</label>
									<!-- <a href="#;" class="vChkLabel FWB on">유통.백화점.도소매</a> -->
								</div>
								<div class="cmmInput radiochk sm MB10">
									<label>
										<input type="checkbox">
										<span class="lb">무역.상사</span>
									</label>
									<!-- <a href="#;" class="vChkLabel FWB">무역.상사</a> -->
								</div>
							</div>
							<div class="ccol7 fnInnerScrollSearchColsResult">
								<!-- 선택영역이 있을때 :S -->
								<!-- foreach:S -->
								<div class="jjsRstArea">
									<div class="jjsRstAreTit">마케팅.광고.분석</div>
									<div class="crow sm">
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">전체</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">전체</a> -->
											</div>
										</div>
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">프로모션</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">프로모션</a> -->
											</div>
										</div>
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">프로모션</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">프로모션</a> -->
											</div>
										</div>
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">프로모션</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">프로모션</a> -->
											</div>
										</div>
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">프로모션</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">프로모션</a> -->
											</div>
										</div>
									</div>
								</div>
								<div class="jjsRstArea">
									<div class="jjsRstAreTit">마케팅.광고.분석</div>
									<div class="crow sm">
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">전체</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">전체</a> -->
											</div>
										</div>
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">프로모션</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">프로모션</a> -->
											</div>
										</div>
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">프로모션</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">프로모션</a> -->
											</div>
										</div>
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">프로모션</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">프로모션</a> -->
											</div>
										</div>
										<div class="ccol4">
											<div class="cmmInput radiochk sm MB10">
												<label>
													<input type="checkbox">
													<span class="lb">프로모션</span>
												</label>
												<!-- <a href="#;" class="vChkLabel FWB">프로모션</a> -->
											</div>
										</div>
									</div>
								</div>
								<!-- foreach:E -->
								<!-- 선택영역이 있을때 :E -->
								<!-- 선택된거 없을때:S -->
								<div class="cmmNoResult tp2">직무를 선택해 주세요.</div>
								<!-- 선택된거 없을때:E -->
							</div>
						</div>
						<div class="tbArea">
							<!-- <a href="#;" class="btnExtd fnSearchColsHeightExtend" data-toggle-class="btnExtd fnSearchColsHeightExtend extend" data-toggle-html="직무 접어보기">
								직무 펼쳐보기
							</a>
							<a href="#" class="searchBtnsInt ML15">선택 초기화</a> -->
							<button class="axnTbtn gray">취소</button>
							<button class="axnTbtn cblue ML05">확인</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>